html, body {
    height: 100%;
    margin: 0;
}

h4 {
    margin: 0;
}

#app {
    position: relative;
    top: 0;
    left: 0;
    min-height: 100%;
}

#info {
    display: inline-block;
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 12px;
}

#info > div {
    display: inline-block;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}
