html, body {
    height: 100%;
    margin: 0;
    background: #242424;
}

h4 {
    margin: 0;
    margin-top: 8px;
}

#app {
    position: relative;
    top: 0;
    left: 0;
    min-height: 100%;
}

#info {
    display: inline-block;
    position: absolute;
    bottom: 8px;
    left: 8px;
    font-size: 13px;
    color: #bbbbbb;
}

#info > div {
    display: inline-block;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}
