* {
    margin: 0;
    padding: 0;
}

h4 {
    margin-bottom: 5px;
    padding-bottom: 2px;
    border-bottom: 1px solid black;
}

#app {
    border-bottom: 1px solid black;
    height: 550px;
}

@media only screen and (max-width: 768px) {
    #app {
        height: 320px;
    }
}

.container {
    width: 100%;
}


#info {
    width: 100%;
}

#info .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-bottom: 1px solid black;
    padding: 15px 0;
}

#info div {
    flex: 0 0 22%;
}

canvas {
    cursor: pointer;
}